{% extends 'rooms/base.html' %}

{% block content %}
    <main>
        <h1>Room {{ room.id }}</h1>
        <p>Description: {{ room.description }}</p>
        <p>Created by: {{ room.created_by.username }}</p>
        <p>Created at: {{ room.created_at }}</p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <p>Members:</p>
        <ul>
            {% for member in room.members.all %}
                <li>
                    {{ member.username }}
                    {% if member == request.user %}
                        (You)
                    {% endif %}
                    {% if member in room.admins.all %}
                        (Admin)
                    {% endif %}
                    {% if member == room.created_by %}
                        (Owner)
                    {% endif %}
                    {% if 'can_make_admin' in user_perms and member not in room.admins.all %}
                        <form action="{% url 'rooms:make_room_member_admin' room.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="member_id" value="{{ member.id }}">
                            <input type="submit" value="Make Admin">
                        </form>
                    {% endif %}
                    {% if 'can_remove_user' in user_perms and member not in room.admins.all %}
                        <form action="{% url 'rooms:remove_room_member' room.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="member_id" value="{{ member.id }}">
                            <input type="submit" value="Remove from room">
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <p>Scores:</p>
        <ul>
            {% for member_score in member_scores %}
                <li>
                    {{ member_score.user.username }}: {{ member_score.score }}
                </li>
            {% endfor %}
        </ul>
        <hr>
        {% if 'can_generate_roomcode' in user_perms %}
            <h2>Generate Invite Code</h2>
            <form action="{% url 'rooms:generate_room_code' room.id %}" method="post" id="generateInviteCodeForm">
                {% csrf_token %}
                <input type="submit" value="Generate">
            </form>
            <br>
            <p id="roomInviteCode"></p>
            <hr>
        {% endif %}
        {% if 'view_questroom' in user_perms %}
            <form action="{% url 'rooms:update_room_score' room.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Update Scores">
            </form>
        {% endif %}
        <hr> 
        <h1>Let's Chat</h1>
        <div id="messages">
            {% for message in latest_messages reversed %}
                {% if message.message_type == 'CH' %}
                    {% if message.user == request.user %}
                    <div class="message user-message">
                    {% else %}
                    <div class="message others-message">
                    {% endif %}
                        <p><img src="{% url 'users:get_avatar' message.user.username %}"> 
                            {{ message.user.username }}</p>
                        <p>{{ message.content }}<span> {{ message.get_message_time }}</span></p>
                    </div>
                {% elif message.message_type == 'UC' %}
                    <div class="message system-message user-connected-message">
                        <p>{{ message.content }}<span> {{ message.get_message_time }}</span></p>
                    </div>
                {% elif message.message_type == 'UL' %}
                    <div class="message system-message user-left-message">
                        <p>{{ message.content }}<span> {{ message.get_message_time }}</span></p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <form id="send-message-form">
            <input type="text" name="message">
            <input type="submit" value="Send">
        </form>
    </main>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        // Set to use ws on local development, wss on production
        const url = `ws://${window.location.host}/ws/chat/{{ room.id }}/`; 
        const chatSocket = new WebSocket(url);
        const currentUsername = '{{ request.user.username }}';

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const messages = document.querySelector('#messages');
            if (data.type === 'chat') {
                messages.insertAdjacentHTML(
                    'beforeend',
                    `<div class="message ${data.message.username == currentUsername ? 'user-message': 'others-message'}">
                        <p><img src="/user/get_avatar/${data.message.username}">
                            ${data.message.username}</p>
                        <p>${data.message.content} <span> ${data.message.message_time}</span></p>
                    </div>`
                )
            }
            else if (data.type === 'user_connected') {
                messages.insertAdjacentHTML(
                    'beforeend',
                    `<div class="message system-message user-connected-message">
                        <p>${data.message.content} <span> ${data.message.message_time}</span> </p>
                    </div>`
                )
            }
            else if (data.type === 'user_left') {
                messages.insertAdjacentHTML(
                    'beforeend',
                    `<div class="message system-message user-left-message">
                        <p>${data.message.content} <span> ${data.message.message_time}</span> </p>
                    </div>`
                )
            }
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            messages.insertAdjacentHTML(
                'beforeend',
                `<div class="message system-message socket-closed-message">
                    <p>Connection Closed Unexpectedly. Try relodading the page..</p>
                </div>`
            )
        };

        const sendMessageForm = document.querySelector('#send-message-form');
        sendMessageForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const message = e.target.message.value;
            if (message.trim() === '') {
                return;
            }
            chatSocket.send(JSON.stringify({
                message: message
            }))
            sendMessageForm.reset();
        })

        const generateInviteCodeForm = document.querySelector('#generateInviteCodeForm');
        if (generateInviteCodeForm) {
            generateInviteCodeForm.addEventListener('submit', (e) => {
                e.preventDefault();
                fetch(e.target.action, {
                    method: 'POST',
                    body: new FormData(e.target)
                })
                .then(response => response.json())
                .then(data => {
                    const roomInviteCode = document.querySelector('#roomInviteCode');
                    roomInviteCode.textContent = `Invite Code: ${data.code}`;
                })
            })
        }
    </script>
{% endblock scripts %}
