{% extends 'rooms/base.html' %}

{% block content %}
    <main>
        <h1>Room {{ room.id }}</h1>
        <p>Description: {{ room.description }}</p>
        <p>Created by: {{ room.created_by.username }}</p>
        <p>Created at: {{ room.created_at }}</p>
        <p>Members:</p>
        <ul>
            {% for member in room.members.all %}
                <li>{{ member.username }}</li>
            {% endfor %}
        </ul>
        <hr>
        {% if user in room.admins.all %}
            <h2>Generate Invite Code</h2>
            <form action="{% url 'rooms:generate_room_code' room.id %}" method="post" id="generateInviteCodeForm">
                {% csrf_token %}
                <input type="submit" value="Generate">
            </form>
            <br>
            <p id="roomInviteCode"></p>
            <hr>
        {% endif %}

        <h1>Let's Chat</h1>
        <div id="messages">
            {% for message in latest_messages reversed %}
                <div class="message">
                    <p>{{ message.content }}<span> {{ message.created_at }}</span></p>
                </div>
            {% endfor %}
        </div>

        <form id="form">
            <input type="text" name="message">
            <input type="submit">
        </form>
    
    </main>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        const url = `ws://${window.location.host}/ws/chat/{{ room.id }}/`;
        const chatSocket = new WebSocket(url);

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            
            const messages = document.querySelector('#messages');
            if (data.type === 'chat') {
                messages.insertAdjacentHTML(
                    'beforeend',
                    `<div class="message">
                        <p>${data.message}</p>
                    </div>`
                )
            }
        }

        const form = document.querySelector('#form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const message = e.target.message.value;
            chatSocket.send(JSON.stringify({
                message: message
            }))
            form.reset();
        })

        const generateInviteCodeForm = document.querySelector('#generateInviteCodeForm');
        if (generateInviteCodeForm) {
            generateInviteCodeForm.addEventListener('submit', (e) => {
                e.preventDefault();
                fetch(e.target.action, {
                    method: 'POST',
                    body: new FormData(e.target)
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const roomInviteCode = document.querySelector('#roomInviteCode');
                    roomInviteCode.textContent = `Invite Code: ${data.code}`;
                })
            })
        }
    </script>
{% endblock scripts %}

