{% extends 'rooms/base.html' %}

{% block content %}
    <main>
        <h1>Room {{ room.id }}</h1>
        <p>Description: {{ room.description }}</p>
        <p>Created by: {{ room.created_by.username }}</p>
        <p>Created at: {{ room.created_at }}</p>
        <p>Members:</p>
        <form action="", method="POST">
            <ul>
                {% for member in room.members.all %}
                    <li>
                        {{ member.username }} 
                        {% if has_perm_make_admin and member not in room.admins.all %}
                            <input type="submit" value="Make Admin">
                        {% endif %}
                        {% if has_perm_remove_user and member not in room.admins.all %}
                            <input type="submit" value="Remove from room">
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </form>
        <hr>
        {% if has_perm_generate_roomcode %}
            <h2>Generate Invite Code</h2>
            <form action="{% url 'rooms:generate_room_code' room.id %}" method="post" id="generateInviteCodeForm">
                {% csrf_token %}
                <input type="submit" value="Generate">
            </form>
            <br>
            <p id="roomInviteCode"></p>
            <hr>
        {% endif %}

        <h1>Let's Chat</h1>
        <div id="messages">
            {% for message in latest_messages reversed %}
                {% if message.user == request.user %}
                <div class="message user-message">
                {% else %}
                <div class="message others-message">
                {% endif %}
                    <p><img src="{% url 'users:get_avatar' message.user.username %}"> 
                        {{ message.user.username }}</p>
                    <p>{{ message.content }}<span> {{ message.get_message_time }}</span></p>
                </div>
            {% endfor %}
        </div>

        <form id="send-message-form">
            <input type="text" name="message">
            <input type="submit" value="Send">
        </form>
    </main>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        // Set to use ws on local development
        const url = `ws://${window.location.host}/ws/chat/{{ room.id }}/`; 
        const chatSocket = new WebSocket(url);
        const currentUsername = '{{ request.user.username }}';

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const messages = document.querySelector('#messages');
            if (data.type === 'chat') {
                messages.insertAdjacentHTML(
                    'beforeend',
                    `<div class="message ${data.message.username == currentUsername ? 'user-message': 'others-message'}">
                        <p><img src="/user/get_avatar/${data.message.username}">
                            ${data.message.username}</p>
                        <p>${data.message.content} <span> ${data.message.message_time}</span></p>
                    </div>`
                )
            }
            else if (data.type === 'user_connected') {
                messages.insertAdjacentHTML(
                    'beforeend',
                    `<div class="message system-message user-connected-message">
                        <p>${data.message.content} <span> ${data.message.message_time}</span> </p>
                    </div>`
                )
            }
            else if (data.type === 'user_left') {
                messages.insertAdjacentHTML(
                    'beforeend',
                    `<div class="message system-message user-left-message">
                        <p>${data.message.username} left the chat <span> ${data.message.message_time}</span> </p>
                    </div>`
                )
            }
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            messages.insertAdjacentHTML(
                'beforeend',
                `<div class="message system-message socket-closed-message">
                    <p>Connection Closed Unexpectedly. Try relodading the page..</p>
                </div>`
            )
        };

        const sendMessageForm = document.querySelector('#send-message-form');
        sendMessageForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const message = e.target.message.value;
            if (message.trim() === '') {
                return;
            }
            chatSocket.send(JSON.stringify({
                message: message
            }))
            sendMessageForm.reset();
        })

        const generateInviteCodeForm = document.querySelector('#generateInviteCodeForm');
        if (generateInviteCodeForm) {
            generateInviteCodeForm.addEventListener('submit', (e) => {
                e.preventDefault();
                fetch(e.target.action, {
                    method: 'POST',
                    body: new FormData(e.target)
                })
                .then(response => response.json())
                .then(data => {
                    const roomInviteCode = document.querySelector('#roomInviteCode');
                    roomInviteCode.textContent = `Invite Code: ${data.code}`;
                })
            })
        }
    </script>
{% endblock scripts %}
