{% extends 'rooms/base.html' %}

{% block content %}
    <section class="rooms-section">
        <div class="rooms-container">
            <div class="user-rooms">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h2>Quest Rooms</h2>
                <h4>Created Rooms</h4>
                <ul>
                    {% for room in created_rooms %}
                        <li>
                            <a href="{% url 'rooms:room_detail' room_id=room.id %}">{{ room.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <br>
                <h4>Joined Rooms</h4>
                <ul>
                    {% for room in joined_rooms %}
                        <li>
                            <a href="{% url 'rooms:room_detail' room_id=room.id %}">{{ room.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="create-room">
                <h2>Join a room</h2>
                <form action="{% url 'rooms:join_room' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="room_code" placeholder="Enter a room code" required>
                    <button class="btn btn-primary" type="submit">Join</button>
                </form>
                <hr>
                <h2>Create a Room</h2>
                <form action="{% url 'rooms:create_room' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Create</button>
                </form>
                <br>
            </div>
        </div>
    </section>
{% endblock content %}